<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/output.css" rel="stylesheet">
    <link href="assets/css/auth.css" rel="stylesheet">

</head>
<body class="custom-bg bg-black flex flex-col min-h-screen">
<!-- Main content wrapper -->
<div class="flex-grow flex items-center justify-center">
    <!-- Wrapper for form -->
    <div class="flex flex-col items-center p-6 bg-black text-white max-w-md w-full space-y-4">
        {{{body}}}
    </div>
</div>
<!-- Footer -->
<div class="w-full text-center text-gray-400 text-sm mb-3">
    <p>&copy; 2024 Threads</p>
</div>
</body>
</html>