 <!-- Reset Password Form -->
 <div class="w-full space-y-4">
    <h2 class="text-center text-lg font-semibold">Enter your new password</h2>
    <p class="text-red-500 text-center text-sm font-semibold">{{{message}}}</p>
    <form id="formAuthentication" class="space-y-2" action="/newPass" method="POST">
        <div class="relative">
            <input type="hidden" name="token" value="{{token}}" />
            <input 
                type="password" 
                id="password"
                name="password"
                placeholder="Password" 
                class="w-full px-6 py-4 bg-gray-900 text-white rounded-xl placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-800"
                required
            />
            <!-- Eye icon button for password -->
            <button type="button" onclick="togglePassword('password')" id="eyeButtonPassword" class="absolute inset-y-0 right-3 items-center hidden">
                <svg id="eyeIconPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400 hover:text-gray-300" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" /><path d="M1 1l22 22"/><circle cx="12" cy="12" r="3" />
                    <circle cx="12" cy="12" r="3" />
                </svg>
            </button>
        </div>
        
        <!-- Confirm Password -->
        <div class="relative mt-4">
            <input 
                type="password" 
                id="confirmPassword"
                name="confirmPassword"
                placeholder="Confirm Password" 
                class="w-full px-6 py-4 bg-gray-900 text-white rounded-xl placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-800"
                required
            />
            <!-- Eye icon button for confirm password -->
            <button type="button" onclick="toggleConfirm('confirmPassword')" id="eyeButtonConfirm" class="absolute inset-y-0 right-3 items-center hidden">
                <svg id="eyeIconConfirm" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400 hover:text-gray-300" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" /><path d="M1 1l22 22"/><circle cx="12" cy="12" r="3" />
                    <circle cx="12" cy="12" r="3" />
                </svg>
            </button>
        </div>
        
        <!-- Error Message -->
        <p id="errorMessage" class="text-red-500 text-sm hidden">Passwords do not match</p>
        
        <button 
            type="submit" 
            class="w-full px-6 py-4 bg-white text-gray-400 rounded-xl font-semibold hover:bg-gray-200"
        >
            Reset
        </button>
    </form>
</div>