
/* Sidebar */
aside {
    z-index: 10; /* Higher than the header */
  }
  
  /* Header */
  header {
    z-index: 5; /* Lower than the sidebar */
  }

  .postPositioni {
    top: 5.5rem;
    right: 30.3rem;
  }

  .postPositionl {
    top: 47.5rem;
    right: 30.3rem;
  }



  .postPosition {
      top: 30rem;
      right: 30.3rem;
  }

  .postBackground {
      background-color: rgb(24,24,24);
  }

  .notification-sidebar {
    position: fixed; 
    top: 0;
    left: -250px; 
    width: 250px;
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    box-sizing: border-box;
    transition: left 0.1s ease-in-out; 
    z-index: 20;
  }
  
  .notification-sidebar.show {
    left: 250px; 
  }
  
  .notification-content {
    padding: 20px;
  }
  
  #heart-icon {
    cursor: pointer;
    font-size: 30px;
    background-color: transparent;
    border: none;
  }
  
  .sidebar-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    margin-right: 20px; 
  }

  .text-red-500 {
    fill: red;
  }

svg:hover path {
    fill: #f87171; /* Màu khi hover */
}


